
<div class="@cardCssClass()" onclick=@OnClick>
    @if (Card.IsFaceUp())
    {
        <div class="@cardColorCssClass()">
            <div class="card-value">
                @Card.GetRankString()
            </div>
            <div class="card-suit">
                @Card.GetSuit()
            </div>
        </div>
    }
    else
    {
        <div class="card-back"></div>
    }
</div>

@code {
    [Parameter]
    public ICard Card { get; set; }

    [Parameter]
    public EventCallback<ICard> CardClicked { get; set; }

    private async Task OnClick()
    {
        await CardClicked.InvokeAsync(Card);
        StateHasChanged();
    }

    public bool IsRed()
    {
        return Card.GetSuit() == '♥' || Card.GetSuit() == '♦';
    }

    private string cardColorCssClass()
    {
        return IsRed() ? "red" : "black";
    }

    private string cardCssClass()
    {
        return (Card is IPlayingCard && ((IPlayingCard) Card).IsSelected()) ? "card selected" : "card";
    }
}