@using BlazorCardGame.WebUI.Components.GameInterface;

<div class=@_class()>
    @ChildContent
    <CounterComponent CurrentCount=@CurrentCount TotalCount=@TotalCount RaisedStyle=@(Class.Contains("raised")) />
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public int CurrentCount { get; set; } = 0;

    [Parameter]
    public int TotalCount { get; set; } = 0;

    [Parameter]
    public string Class { get; set; } = "";

    private string _class() 
    {
        return $"{Class} pool-with-counter";
    }
}