/* Overall layout: SBS on desktop, TTB on mobile */
#cardgame {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

@media (min-width: 1024px) {
    #cardgame {
        display: flex;
        flex-direction: row;
    }
}

/* Info Area styles */
#info-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: darkslategray;
    color: white;
    padding: 4px;
}

#progress-cell {
    margin: 0 0 2px 0;
    border: 3px solid darkgoldenrod;
    border-radius: 5px;
    width: 100%;
    align-items: center;
    text-align: center;
    font-size: 16px;
}

#progress-cell .big-number {
    font-size: 18pt;
}

#challenge-cell {
    margin: 0 0 2px 0;
    border: 3px solid darkgoldenrod;
    border-radius: 5px;
    width: 100%;
    align-items: center;
    text-align: center;
    font-size: 12pt;
}

#challenge-cell .big-number {
    font-size: 24pt;
}

#challenge-cell > * {
    margin: 4px;
}

#score-cell {
    font-size: 12pt;
}

#score-cell > * {
    margin: 4px;
}

#score-cell .big-number {
    font-size: 24pt;
}

#calculation-cell {
    text-align: center;
    align-items: center;
}

#hand-category {
    font-size: 18pt;
}

#hand-category-level {
    font-size: 14pt;
}

#multiplier-x {
    height: 30px;
    line-height: 30px;
}

#inventory-cell {
    width: 100%;
    font-size: 12pt;
}

#inventory-cell .big-number {
    font-size: 24pt;
}

#help-cell {
    width: 100%;
    font-size: 14pt;
    height: 36px;
    padding: 5px 0 5px 0;
}

/* Play Area styles */
#play-area {
    display: flex;
    flex-direction: column;
    background-color: green;
    flex-grow: 1;
}

#play-discard-row {
    display: flex;
    justify-content: space-around;
}

#play-area-bottom {
    margin-top: auto;
}

.cell {
    background-color: darkgray;
    border: 2px solid gray;
    border-radius: 5px;
    width: 100%;
    margin: 2px 0 2px 0;
}

.colorbox {
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    font-size: 18pt;
    text-align: center;
    margin: 0px 2px 0px 2px;
    padding: 0 9px 0 9px;
    align-self: center;
}

.colorbox-thin {
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    font-size: 18pt;
    text-align: center;
    margin: 0px 2px 0px 2px;
    padding: 0 9px 0 9px;
}

.button-small {
    border-width: 4px;
    border-style: solid;
    border-radius: 5px;
    width: 80%;
}

.medallion-container * {
    margin: 0;
}

.medallion {
    border-width: 6px;
    border-style: solid;
    border-radius: 50%;
    aspect-ratio: 1/1;
    flex-direction: column;
    align-items: center;
}