/* Overall layout: SBS on desktop, TTB on mobile */
#cardgame {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

@media (min-width: 1024px) {
    #cardgame {
        display: flex;
        flex-direction: row;
    }
}