@namespace BlazorCardGame.WebUI.Components.Pages
@page "/"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using BlazorCardGame.WebUI.Components.PlayArea
@using BlazorCardGame.WebUI.Components.InfoArea
@using BlazorCardGame.Domain.Models

<PageTitle>Card Game</PageTitle>

<div id="cardgame">
    <InfoAreaComponent />
    <PlayAreaComponent />
</div>