@namespace BlazorCardGame.WebUI.Components.PlayArea
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using BlazorCardGame.WebUI.Components.PlayArea
@typeparam T

<div class="@cardCssClass()" onclick=@OnClick>
    @if (Card.IsFaceUp())
    {
        <div class="@cardColorCssClass()">
            <div class="card-value">
                @Card.GetRankString()
            </div>
            <div class="card-suit">
                @Card.GetSuit()
            </div>
        </div>
    }
    else
    {
        <div class="card-back"></div>
    }
</div>