.card-pool {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    overflow-x: scroll;
    height: 110px;
    overflow-y: hidden;
    padding-top: 5px;
}

@media (min-width: 1024px) {
    .card-pool {
        height: 200px;
        padding-top: 10px;
    }
}