@namespace BlazorCardGame.WebUI.Components.PlayArea
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using BlazorCardGame.WebUI.Components.PlayArea
@typeparam T
@attribute [CascadingTypeParameter(nameof(T))]

<div class="card-pool">
    @foreach (T card in cards)
    {
        <CardComponent T=T Card=@card CardClicked=@CardClicked />
    }
</div>