<div class=@(RaisedStyle ? "raised" : "")>
    @CurrentCount / @TotalCount
</div>

@code {
    [Parameter]
    public int CurrentCount { get; set; } = 0;

    [Parameter]
    public int TotalCount { get; set; } = 0;

    [Parameter]
    public bool RaisedStyle { get; set; } = false;
}